<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-capitalize"><%= name %></h1>
                </div>
                <div class="col-md-5">
                    <nav class="nav justify-content-around justify-content-md-end top-nav">
                        <a href="/" class="nav-link">Home</a>
                        <a href="/cartoons2D" class="nav-link">2D Cartoons</a>
                        <a href="#" class="nav-link">3D Cartoons</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>