* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.header, .footer {
    padding: 20px 0;
}




.cartoon-card {
    border: 5px solid black;
    border-radius: 10px;
}





.cartoon-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.main {
    background-color: #e3f2fd;
}

.page-link:hover {
    color: blue;
}
