<%- include('../partials/header') %>

    <main class="main" id="main">
        <div class="container">
            Home
        </div>
    </main>

    <%- include('../partials/footer') %>

